
@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <h1 class="text-center text-warning">Welcome to Mindfullness & Meditation Session</h1>
        <img class="rounded mx-auto d-block" src="~/lib/Emotional.jpg" width="400" height="300" />
        <p class="text-center text-success">When we meditate, we inject far-reaching and long-lasting benefits into our lives: We lower our stress levels,
        we get to know our pain, we connect better, we improve our focus, and we're kinder to ourselves. Let us walk you 
        through the basics in our new mindful guide on how to meditate.</p>
        <a class="text-lg-center text-white bg-dark" asp-area="" asp-controller="Assignment" asp-action="RegistrationForm">Click here to Register</a>
    </div>

